.header-container {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.title-container {
    margin-right: 15%;
}

.logo-container {
    justify-self: center;
}

.button-container {
    width: 20.5%;
    display: flex;
    justify-content: center;
}

.tab-group-container {
    min-width: 1028px;

    .mdc-tab--active {
        border: none;
    }

    ::ng-deep mat-tab-header {
        width: 60%;
    }
}

.create-button {
    height: 60px;
    width: 100%;
    margin: 30px 0px;
    background-color: rgb(29, 100, 61) !important;
}

.forms-header {
    margin-top: 20px;
    font-size: 36pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}