.table {
    background-color: rgba(0, 0, 0, 0.02);
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.comment-cell {
    text-align: left;
}

.sm-column {
    width: 5%;
    min-width: 30px;
}

.med-column {
    padding: 0;
    width: 15%;
    min-width: 150px;
}

.lg-column {
    padding-right: 50%;
    width: 55%;
    min-width: 250px;
}